extends layout.pug
block content
  span.image.main
    img(src='/images/pic13.jpg', alt)
  h1 #{parameterdata.accountid.toUpperCase()}: Account Information
  p Raw table information from the #{parameterdata.accountid} account.
  h2 Details
  p
    - let userroutepath = '/userinformation/' + parameterdata.accountid;
    a(href=userroutepath) User Information
  p
    - let marginroutepath = '/margininformation/' + parameterdata.accountid;
    a(href=marginroutepath) Margin Information
  p
    - let routepath = '/walletinformation/' + parameterdata.accountid;
    a(href=walletroutepath) Wallet Information
