extends layout.pug
block content
  span.image.main
    img(src='/images/pic13.jpg', alt)
  h1 Requested Information
  p Tabulation of the information received in the JSON response to the GET request sent to the #{account} account's private REST API "#{endpoint}" endpoint.
  h2 #{account}'s #{endpoint} Endpoint
  table.alt
    tbody
      each value, key in requesteddata
        tr
          td=key
          td=value
