extends layout.pug
block content
  header
    h1
      a(href='https://www.bitmex.com') BitMex
      |
      | Account Report and Control
    p This website presents balance and position reports and helps to manage positions and set price/transaction alerts. Eventually, you will be able to control and monitor the performance of market making positions.
    //  Account Balances Table
    section#accountbalancestable
      h2 Account Balances
      p Here is a summary of the balances in each Useful Coin BitMex account listed in your 
        em bitmexaccounts.json 
        | file. Please refer to the 
        a(href='https://github.com/usefulcoin/barc.git') README 
        | for further information.
      h3 Summary
      .table-wrapper
        table
          thead
            tr
              th Account Name
              th Satoshi Balance
              th USD Balance
              th Relative Balance
          tbody#accountbalancestablebody
            each account in accountbalancedata
              tr
                td #{account[0]}
                td 
                  - let routepath = '/margininformation/' + account[0].slice(0,-15);
                  a(href=routepath) #{account[1]}
                td #{account[3]}
                td #{account[2]}
          tfoot
            tr
              td(colspan='2')
              td #{totalusdbalance}
              td 100.00
      h3 Margin
      .table-wrapper
        table.alt
          thead
            tr
              th Account Name
              th Satoshi Risked
              th Dollars Risked
              th Percentage Risked
          tbody#margintablebody
            each account in availablemargindata
              tr
                td #{account[0]}
                td
                  - let routepath = '/margininformation/' + account[0].slice(0,-15);
                  a(href=routepath) #{account[2]}
                td #{account[3]}
                td #{account[4]}
    //  End Account Balances Table
  h2 Order Contracts
  p Open a position on BitMex futures contracts and later submit an offseting position that provides a specified return.
  h3 Account Selection
  p Please select an account.
  section.tiles
    each account, index in availablemargindata
      - let reindex = Number( index ) + 1;
      - let articlestyle = 'style' + reindex;
      - let articlephoto = 'images/pic0' + reindex + '.jpg';
      - let defaultorder = Number( account[1] ) / 100;
      - let defaultreturn = 0.05;
      - let routepath = '/accountinformation/' + account[0].slice(0,-15);
      article(class=articlestyle)
        span.image
          img(src=articlephoto, alt)
        a(href=routepath)
          h2 #{account[0].slice(0,-15)}
          .content
            h5 Contracts
            p #{account[1]} Satoshi
            | [#{account[2]} Dollars]
