extends layout.pug
block content
  header
    h1
      a(href='https://www.bitmex.com') BitMex
      |
      | Account Report and Control
    p This website presents balance and position reports and helps to manage positions and set price/transaction alerts. Eventually, you will be able to control and monitor the performance of market making positions.
    //  Account Balances Table
    section#accountbalancestable
      h2 Account Balances
      p Here is a summary of the balances in each Useful Coin BitMex account listed in your 
        em bitmexaccounts.json 
        | file. Please refer to the 
        a(href='https://github.com/usefulcoin/barc.git') README 
        | for further information.
      h3 Summary
      .table-wrapper
        table
          thead
            tr
              th Account Name
              th Satoshi Balance
              th Relative Balance
              th USD Balance
          tbody#accountbalancestablebody
            each account in accountbalancedata
              tr
                td #{account[0]}
                td #{account[1]}
                td #{account[2]}
                td #{account[3]}
          tfoot
            tr
              td(colspan='2')
              td 100.00
              td #{totalusdbalance}
    //  End Account Balances Table
  section.tiles
    article.style1
      span.image
        img(src='images/pic01.jpg', alt)
      a(href='generic.html')
        h2 Magna
        .content
          p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
    article.style2
      span.image
        img(src='images/pic02.jpg', alt)
      a(href='generic.html')
        h2 Lorem
        .content
          p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
    article.style3
      span.image
        img(src='images/pic03.jpg', alt)
      a(href='generic.html')
        h2 Feugiat
        .content
          p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
    article.style4
      span.image
        img(src='images/pic04.jpg', alt)
      a(href='generic.html')
        h2 Tempus
        .content
          p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
    article.style5
      span.image
        img(src='images/pic05.jpg', alt)
      a(href='generic.html')
        h2 Aliquam
        .content
          p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
    article.style6
      span.image
        img(src='images/pic06.jpg', alt)
      a(href='generic.html')
        h2 Veroeros
        .content
          p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
    article.style2
      span.image
        img(src='images/pic07.jpg', alt)
      a(href='generic.html')
        h2 Ipsum
        .content
          p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
    article.style3
      span.image
        img(src='images/pic08.jpg', alt)
      a(href='generic.html')
        h2 Dolor
        .content
          p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
    article.style1
      span.image
        img(src='images/pic09.jpg', alt)
      a(href='generic.html')
        h2 Nullam
        .content
          p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
    article.style5
      span.image
        img(src='images/pic10.jpg', alt)
      a(href='generic.html')
        h2 Ultricies
        .content
          p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
    article.style6
      span.image
        img(src='images/pic11.jpg', alt)
      a(href='generic.html')
        h2 Dictum
        .content
          p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
    article.style4
      span.image
        img(src='images/pic12.jpg', alt)
      a(href='generic.html')
        h2 Pretium
        .content
          p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
