extends layout.pug
block content
  header
    h1
      a(href='https://www.bitmex.com') BitMex
      |
      | Account Report and Control
    p This website presents balance and position reports and helps to manage positions and set price/transaction alerts. Eventually, you will be able to control and monitor the performance of market making positions.
    //  Open Positions Summary Table
    section#openpositionsummarytable
      h2 Open Positions
      p If you opened positions on an array [
        strong#instrumentsummary #{instrumentsummary}
        | ] of financial instruments, here is a summary of each open position in every Useful Coin BitMex account listed in your 
        em bitmexaccounts.json 
        | file. Please refer to the 
        a(href='https://github.com/usefulcoin/barc.git') README 
        | for further information.
      h3 Summary
      .table-wrapper
        table
          thead
            tr
              th Account Name
              th Instrument
              th Contract Price
              th Assets
              th Equity
              th Percent Return
              th Unrealized Return
              th Relative Value
          tbody#openpositionstablebody
            each position in openpositiondata
              tr
                td #{position[0]}
                td #{position[1]}
                td #{position[2]}
                td #{position[3]}
                td #{position[4]}
                td #{position[5]}
                td #{position[6]}
                td #{position[7]}
          tfoot
            tr
              td(colspan='4')
              td #{totalusdexposed} USD
              td
              td #{totalusdreturn} USD
    //  End Open Positions Summary Table
  h2 Position Details
  p The complete detail of open BitMex futures contracts.
  h3 Account Selection
  p Please select an account.
  section.tiles
    each position, index in openpositiondata
      - let reindex = Number( index ) + 1;
      - let articlestyle = 'style' + reindex;
      - let articlephoto = 'images/pic0' + reindex + '.jpg';
      - let defaultorder = Number( position[1] ) / 100;
      - let defaultreturn = 0.05;
      - let routepath = '/openpositions/' + position[0].slice(0,-15);
      article(class=articlestyle)
        span.image
          img(src=articlephoto, alt)
        a(href=routepath)
          h2 #{position[0].slice(0,-15)}
          .content
            h5 Contracts
            p #{position[1]} Satoshi
            | [#{position[2]} Dollars]
